body{
    background-image: url('background.jpg');
    background: url(background.jpg) no-repeat center;
    background-size: cover;
}
#txt{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: antiquewhite;
    font-size: 18px;
    letter-spacing: 1px;
}