body, html {
    margin: 0;
    padding: 0;
  }
  
  .page {
    height: 100vh;
    width: 100%;
  }
  
  .page1 {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .page2 {
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 100vh; /* Adjust the height to ensure the second page covers the first */
    z-index: 2;
  }

  h2{
    color: rgb(255, 255, 255);
}
#p{
    color: rgb(255, 255, 255);
}

#nav1{
    display: flex;
    height: 50px;
    width: 70vw;
    min-width: 600px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
#a1{
    
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 1px;

}
#a1:after{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
#a1:hover{
    color:rgb(255, 255, 255);
}
#a1:hover:after{
    width: 100%;
}
#b1{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 1px;

}
#b1:hover{
    color:rgb(51, 51, 51);
}
#b1:hover:after{
    width: 100%;
}

#Face_Idetifier{
    position: relative;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 30px;
    letter-spacing: 1px;  
}

/* button */
#txt{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: antiquewhite;
    font-size: 18px;
    letter-spacing: 1px;
}
.btn1{
    position: relative;
    width: 400px;
    height: 50px;
    border:2px solid#000;
    border-radius: 50px;
    background: #fff;
    z-index: 1;
}
.arrow{
    position:absolute;
    width: 20px;
    height: 20px;
    border-top: 3px solid rgb(158, 0, 137);
    border-right: 3px solid rgb(158, 0, 137);
    transform: rotate(45deg);
    top: 15px;
    left:10px;
    transition: 1s;
    z-index: 1;
}
.circle{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    top: 0px;
    left:0px;
    /* transition: .5s cubic-bezier(1,0,.8,1); */
    transition: 1s;
}
.btn1:hover .arrow{
    left: 250px;
}
.btn1:hover .circle{
    width: 280px;
}
.btn1{
    width: 280px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}
a:link, a:visited {
    background-color: none;
    color: rgb(122, 57, 106);
    padding: 1px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} 